## Higher-Order Functions
 A function that takes a function as an argument or returns a function as the result is a
 higher-order function.

 Functional languages commonly offer the map, filter, and reduce higher-order
 functions (sometimes with different names). The map and filter functions are still
 built-ins in Python 3, but since the introduction of list comprehensions and genera
tor expressions, they are not as important.

In [1]:
def factorial(n):    
    return 1 if n < 2 else n * factorial(n - 1)

list(map(factorial, filter(lambda n: n % 2, range(6))))

[1, 6, 120]

In [2]:
[factorial(n) for n in range(6) if n % 2]

[1, 6, 120]

In [ ]:
from functools import reduce  
from operator import add
# The operator module provides function equivalents for dozens of operators so you
# don’t have to code trivial functions like lambda a, b: a*b
reduce(add, range(100))

4950

In [5]:
# Same task with sum—no need to import and call reduce and add.
sum(range(100))

4950

# Anonymous functions
The best use of anonymous functions is in the context of an argument list for a
 higher-order function.

In [6]:
words = ["banana", "kiwi", "apple"]
words.sort(key=lambda word: len(word))
print(words)

['kiwi', 'apple', 'banana']

##  Positional to Keyword-Only Parameters

In [7]:
def tag(name, *content, class_=None, **attrs):
    """Generate one or more HTML tags"""
    if class_ is not None:
        attrs['class'] = class_
    attr_pairs = (f' {attr}="{value}"' for attr, value
                    in sorted(attrs.items()))
    attr_str = ''.join(attr_pairs)
    if content:
        elements = (f'<{name}{attr_str}>{c}</{name}>'
                    for c in content)
        return '\n'.join(elements)
    else:
        return f'<{name}{attr_str} />'
    
tag('p', 'hello', id=33)

'<p id="33">hello</p>'

In [8]:
my_tag = {'name': 'img', 'title': 'Sunset Boulevard',
'src': 'sunset.jpg', 'class': 'framed'}

tag(**my_tag)

'<img class="framed" src="sunset.jpg" title="Sunset Boulevard" />'

## Operator library
itemgetter(1) creates a function that, given a collection, returns the
item at index 1.

In [ ]:
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

from operator import itemgetter

for city in sorted(metro_data, key=itemgetter(1)):
    print(city)