## Data classes
introduced in Python 3.7 via PEP 557, are decorator and functions for creating classes primarily to store data.

Data Class Builders in Python:

Automatically provide essential methods:

__init__

__repr__

__eq__

In [1]:
# Example 5-4. Defining and using a named tuple type
from collections import namedtuple

# Two parameters are required to create a named tuple: a class name and a list of field names
# As a tuple subclass, City inherits useful methods such as __eq__ and __lt__
City = namedtuple('City', 'name country population coordinates')

tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [2]:
City._fields

('name', 'country', 'population', 'coordinates')

In [3]:
tokyo._asdict()

{'name': 'Tokyo',
 'country': 'JP',
 'population': 36.933,
 'coordinates': (35.689722, 139.691667)}

In [5]:
import json
json.dumps(tokyo._asdict())

'{"name": "Tokyo", "country": "JP", "population": 36.933, "coordinates": [35.689722, 139.691667]}'

## Typed Named Tuples
Provides static type checks when used with tools like mypy.

Supports adding custom methods.

In [ ]:
from typing import NamedTuple

class Coordinate(NamedTuple):  # Coordinate not inherits from the NamedTuple class
    lat: float
    lon: float

    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        ew = 'E' if self.lon >= 0 else 'W'
        return f"{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{ew}"

## Dataclass decorator

In [1]:
from dataclasses import dataclass

@dataclass
class DemoDataClass:
    a: int         # an annotation and also an instance attribute controlled by a descriptor.
    b: float = 1.1  # an annotation, and also becomes an instance attribute with a descriptor and a default value 1.1
    c = 'spam'     # c is just a plain old class attribute; no annotation will refer to it.

DemoDataClass.__annotations__

{'a': int, 'b': float}

In [10]:
DemoDataClass.a # a attribute only exist in instances of DemoDataClass

AttributeError: type object 'DemoDataClass' has no attribute 'a'

In [11]:
DemoDataClass.b , DemoDataClass.c

(1.1, 'spam')

In [4]:
dc = DemoDataClass(9)  # a and b are instance attributes, and c is a class attribute we get via the instance.
print(dc.a)
print(dc.b)
print(dc.c)

9
1.1
spam

## Keyword class patterns

In [1]:
import typing

class City(typing.NamedTuple):
    continent: str
    name: str
    country: str

cities = [
    City('Asia', 'Tokyo', 'JP'),
    City('Asia', 'Delhi', 'IN'),
    City('North America', 'Mexico City', 'MX'),
    City('North America', 'New York', 'US'),
    City('South America', 'São Paulo', 'BR'),
]

def match_asian_cities():
    results = []
    for city in cities:
        match city:
            case City(continent='Asia'):
                results.append(city)
    return results

print(match_asian_cities())

[City(continent='Asia', name='Tokyo', country='JP'), City(continent='Asia', name='Delhi', country='IN')]